@include media-breakpoint-down(md) {
    .navbar-collapse {
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.fixed-lg-top {
    @include media-breakpoint-up(xl) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

//mobile logo
.top-logo {
    position: absolute;
    top: 0;
    left: 0;

    &--ap {
        left: 80px;
    }
}


.navbar-brand {
    &.top-logo {
        img {
            width: 80px;
        }
    }
}

#top-header {
    transition: 0.3s ease-in-out;

    .navbar-nav {
        >li {
            >a {
                color: #343434;
                text-transform: uppercase;
                z-index: 0;

                @include media-breakpoint-up(xl) {
                    font-size: 17px;
                    font-weight: 400;
                    position: relative;
                    padding: 1rem 0.7rem;
                    letter-spacing: 1px;
                    color: #fff;

                    &:not(.wpmenucart-contents) {
                        &::before {
                            display: inline-block;
                            content: '';
                            height: 49%;
                            width: 100%;
                            // width: 0;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            background-color: $szp-red;
                            transition: 0.3s ease-in-out;
                            z-index: -1;
                            transform: translateY(-50%);
                            // transform: translateY(-50%) skew(-23deg, 0deg);
                        }
                    }
                }

                padding: 0.5rem 0.7rem;
                margin: 0 10px;
                font-size: 1.1rem;
                text-align: center;

                // &:hover {
                //     color: #343434;

                //     &:before {
                //         width: 100%;
                //     }
                // }

                &.active {
                    color: $szp-red;
                    font-weight: bold;

                    @include media-breakpoint-up(xl) {
                        color: #fff;
                    }

                    &:before {
                        width: 100%;
                        background-color: $dark-blue;
                    }
                }

                @include media-breakpoint-down(xl) {
                    border-bottom: 1px solid #eee;
                    padding: 0.4rem 0.7rem;
                }
            }

        }
    }

    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }
    }
}

@include media-breakpoint-up(xl) {
    .dropdown {
        .dropdown-submenu {
            top: 0;
            left: 100%;
            //margin-left: 0.125rem;
            margin-top: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    .navbar-nav {
        li {
            &:hover> {
                ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    background: #fff;

    @include media-breakpoint-up(xl) {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    }

    &.depth_1 {
        background: #fff;
    }

    min-width: 13rem;
    border: none;

    .menu-item {
        border-bottom: 1px solid #444;
        background-color: transparent;

        &:last-child {
            border: none;
        }
    }

    .dropdown-item {
        padding: 0.6rem 1rem 0.7rem 1.5rem;

        @include media-breakpoint-up(xl) {
            padding: .5rem .5rem .5rem 1.5rem;
        }

        font-size: 1rem;
        transition: 0.3s ease-in-out;
        color: #000;

        @include media-breakpoint-up(xl) {
            &:hover {
                padding-left: 2rem;
            }
        }

        &:before {
            font-family: FontAwesome;
            content: "\f105";
            font-style: normal;
            font-weight: normal;
            position: absolute;
            left: 12px;
            color: $yellow;
        }

        &:hover {
            background-color: $yellow;
            color: #000;

            &:before {
                color: #000;
            }
        }

        &.active {
            background-color: $yellow;
            color: #fff;
        }
    }
}

//Footer
.copyright-box {
    a {
        color: #434343;
        padding: 0 .5rem;

        @include media-breakpoint-up(xl) {
            padding: 0 1rem;
        }
    }

    color: #434343;
    font-size: 13px;
    border-top: 3px double rgba(0, 0, 0, .2);
}

//breadcrumbs
.breadcrumbs {
    color: $szp-red;

    a {
        color: #fff;
    }

    .breadcrumb_last {
        color: $szp-red;
    }
}

//Form (Contact form 7)
.wpcf7-acceptance .wpcf7-list-item-label {
    font-size: 12px;
    display: inline-block;
}

.text-sm-form {
    font-size: 12px;
    display: inline-block;
}

.wpcf7-submit {
    border: none;
    background-color: #ed1c24;
    color: #fff !important;
    padding: 0.5rem 0.75rem;
    border-radius: 35px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.page-template-templates .wpcf7-not-valid-tip,
.page-template-templates .title-field-form {
    font-size: 13px;
}

.form-border {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 12px;
    background: rgba(239, 239, 239, .1);
}

.wpcf7-form-control-wrap {

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        font-size: 13px;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
        font-size: 13px;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        font-size: 13px;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
        font-size: 13px;
    }
}

// Float btn
.right-float-box {
    position: fixed;
    bottom: 80px;
    right: 0;
    z-index: 99;

    @include media-breakpoint-down(md) {
        left: 0;
        margin: 0 auto;
        bottom: 3px;
    }

    &__btn {
        font-size: 16px;
        border-radius: 6px 0 0 6px;
        box-shadow: 0 0 13px rgba(0, 0, 0, .3);
        transition: .5s;
        display: block;

        @include media-breakpoint-down(md) {
            padding: .385rem .75rem;
            font-size: .85rem;
            display: inline-block;
            border-radius: 6px 0 0 0;
            float: right;
        }
    }
}

// Page inwestorzy
.select-list {
    background-color: $szp-red;
    color: #fff;
}

.firma {
    display: none;
    opacity: 0;
    animation: none;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
}

.firma.visible {
    display: block;
    animation: slide-in-blurred-right 380ms cubic-bezier(.23, 1, .32, 1) both;
}

@keyframes slide-in-blurred-right {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}