// ------------------------------------ //
// #Colors
// ------------------------------------ //

$szp-red: #e21f26;
$dark-blue: #15175c;
$gray-light: #f2f2f2;

// Definiowanie nazw jako stringów
$names: (
    "szp-red",
    "dark-blue",
    "gray-light",
);

// Mapowanie nazw na kolory
$colors: (
    "szp-red": $szp-red,
    "dark-blue": $dark-blue,
    "gray-light": $gray-light,
);

@each $name in $names {
    .bg-#{$name} {
        background-color: map-get($colors, $name);
    }

    .text-#{$name} {
        color: map-get($colors, $name);
    }

    .btn-#{$name} {
        @extend .btn;
        background: map-get($colors, $name);
        color: #fff !important;

        &:hover,
        &:focus {
            color: map-get($colors, $name) !important;
            background: #fff;
        }
    }
}

.bg-red-mark {
    background: $szp-red;
    box-shadow: 5px 0 0 $szp-red, -5px 0 0 $szp-red;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-decoration-break: split;
    box-decoration-break: split;
    display: inline;
}

//Btn
.btn-dark-blue {
    background-color: $dark-blue;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #fff;
        color: $dark-blue;
    }
}
.btn-red-szp {
    background-color: $szp-red;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #fff;
        color: $szp-red;
    }
}

.btn-radius-more {
    border-radius: 35px;
}